<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Papa Johns Test Automation Test Suite">

	<listeners>
		<listener class-name="com.pj.loyalty.util.ExtentReporterNG" />
	</listeners>


	<test name="Papa Johns Test Cases">
		<classes>
			<class name="com.pj.loyalty.testcases.HomePageTestCase"></class>
		</classes>
	</test>
</suite>